h1{
    color: rgb(236, 209, 209);
     border-color: thistle;
     border : solid; 
     border-radius: 10px;
    /* border-radius: 10%; */
     display: flex;
     

}
.Header{
    background-color: rgb(33, 156, 84);
    display: flex;
    justify-content: center;
}
.menu{
    margin-left: 50px;
  
}

body{
    background-color: rgb(7, 8, 8);
}
h3{
    text-align: center;
  color:white  
}


.grid{ 
    display: flex; 
    
    flex-wrap: wrap; 
    
    justify-content: space-evenly; 
} 
.footer{
    display: flex;
    justify-content: flex-end;
    
}
.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 1;
   
}

.item:hover p{
    
    opacity: 0.9;
    transform: scale(1.5);
    color: darkred;
}

.item:hover img{
    opacity:0.6;
    
    transform: scale(0.9);
    
} 
a :link{
    color: rgb(75, 105, 66);

}

a :visited{
    color: rgb(206, 7, 7);
}

/* .header{ */
    
/* } */